<mat-card class="sidebar-card">
    <mat-action-list>
      <div mat-subheader class="sidebar-title">Menu</div>
  
      <button mat-list-item routerLink="/admin">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </button>
  
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>person</mat-icon>
        <span class="nav-text">Profile</span>
      </button>
      
      <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon>view_list</mat-icon>
        <span class="nav-text">Categories</span>
      </button>
      <button mat-list-item routerLink="/admin/add-category">
        <mat-icon mat-list-icon>post_add</mat-icon>
        <span class="nav-text">Add Categories</span>
      </button>
      <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon>quiz</mat-icon>
        <span class="nav-text">Quizzes</span>
      </button>
      <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon>add</mat-icon>
        <span class="nav-text">Add Quiz</span>
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span class="nav-text">Logout</span>
      </button>
    </mat-action-list>
  </mat-card>
  