<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card class="login-card">
          <div class="text-center">
            <img src="assets/images/cir.png" alt="Logo" class="login-logo" />
          </div>

          <h2 class="login-title">Login here!!</h2>

          <form (ngSubmit)="formSubmit()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Name</mat-label>
              <input
                [(ngModel)]="loginData.username"
                name="username"
                required
                matInput
                placeholder="Enter your username"
              />
              <mat-hint>Valid username!!</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                name="password"
                required
                type="password"
                matInput
                placeholder="Enter your password"
              />
            </mat-form-field>

            <div class="text-center button-group">
              <button mat-raised-button color="primary" type="submit" class="btn-login">
                Login
              </button>
              <button mat-raised-button color="accent" type="button" (click)="clearData()" class="btn-reset">
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
