<mat-toolbar color="accent" class="navbar">
  <a routerLink="/" mat-icon-button class="logo-icon" aria-label="Menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>

  <span class="brand">Examportal</span>
  <span class="spacer"></span>

  <ng-container *ngIf="!isLogedIn">
    <a routerLink="/login" mat-button class="nav-btn">Login</a>
    <a routerLink="/signup" mat-button class="nav-btn">Register</a>
  </ng-container>

  <ng-container *ngIf="isLogedIn">
    <a mat-button routerLink="/admin/profile" class="nav-user">{{ user?.username }}</a>
    <a (click)="logout()" mat-button class="nav-btn">Logout</a>
  </ng-container>
</mat-toolbar>
